Source: bpta
Section: unknown
Priority: extra
Maintainer: "Sergey Spiridonov" <sena@s73.work>
Build-Depends: cmake, debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/sena73/ptree_archive

Package: bpta
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Archive for boost::serialization which
 is able to serialize to the boost::property_tree.
 Use it as any other boost archive.
